/*body{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

bodyy{
    background-image: url("../img/bg-fondo.png");
    background-repeat: repeat-x;
    background-color: #639A72;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}*/

div#cabecera-pagina {
    position: fixed;
    top: 0;
    left: 0;
}

div#contenido-pagina {}

div#pie-pagina {
    position: fixed;
    bottom: 0;
    right: 0;
}

div#cuadroLogin {
    width: 300px;
    height: 370px;
    border: 1px solid #999;
    padding: 10px;
    /* Centrado perfecto */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Fondo degradado */
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 75%, #cccccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(75%, #efefef), color-stop(100%, #cccccc));
    background: -webkit-linear-gradient(top, #ffffff 0%, #efefef 75%, #cccccc 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #efefef 75%, #cccccc 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #efefef 75%, #cccccc 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #efefef 75%, #cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);
    /* Bordes redondeados */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* IluminaciÃ³n tipo sombra */
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    /* Transparencia */
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=87);
    -khtml-opacity: 0.87;
    -moz-opacity: 0.87;
    opacity: 0.87;
}

div#cuadroLogin div.datosColegio {
    background-image: url("../img/escudo_nombre_login.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 152px;
}

div#cuadroLogin div.spacer {
    margin-top: 10px;
    position: relative;
}

div#cuadroLogin div.spacer div.mask {
    overflow: hidden;
    height: 20px;
}

div#cuadroLogin div.spacer div.mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

div#cuadroLogin div.spacer span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
}

div#cuadroLogin div.spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #999;
}

div#cuadroLogin form#frmLogin {}

div#cuadroLogin form#frmLogin div.campo {
    margin-bottom: 6px;
    width: 300px;
}

div#cuadroLogin form#frmLogin div.campo label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    display: block;
    padding: 2px 4px;
}

div#cuadroLogin form#frmLogin div.campo input[type="text"],
div#cuadroLogin form#frmLogin div.campo input[type="password"] {
    padding: 6px 4px;
    width: 290px;
    border: 1px solid #666;
    background-color: #ccc;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

div#cuadroLogin form#frmLogin div.campo input[type="submit"] {
    border: 1px solid #478B5F;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #478B5F;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 4px;
    width: 300px;
}

div#cuadroLogin form#frmLogin div.campo a.recuperarContrasena {
    font-size: 12px;
    color: #478B5F;
    float: right;
}

div#invalidLoginNotification {
    width: 306px;
    padding: 5px 10px 5px 5px;
    margin: auto;
    position: absolute;
    /* Fondo degradado */
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #dd5952 0%, #bc3e33 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd5952), color-stop(100%, #bc3e33));
    background: -webkit-linear-gradient(top, #dd5952 0%, #bc3e33 100%);
    background: -o-linear-gradient(top, #dd5952 0%, #bc3e33 100%);
    background: -ms-linear-gradient(top, #dd5952 0%, #bc3e33 100%);
    background: linear-gradient(to bottom, #dd5952 0%, #bc3e33 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd5952', endColorstr='#bc3e33', GradientType=0);
    /* Bordes redondeados */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* IluminaciÃ³n tipo sombra */
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.75);
    /* Transparencia */
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=87);
    -khtml-opacity: 0.87;
    -moz-opacity: 0.87;
    opacity: 0.87;
    display: none;
    z-index: 1000;
}

div#invalidLoginNotification span.invalidLoginNotificationIcon {
    position: absolute;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
}

div#invalidLoginNotification div.invalidLoginNotificationMessage {
    padding: 5px 0px 5px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

/* LOGIN */

#login-wrapper {
    margin: 60px auto;
}

#login-wrapper .logo {
    color: #1d212a;
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px 0 0 15px;
    display: inline-block;
}

#login-wrapper .logo span {
    font-weight: 700;
}

#login-wrapper .logo img {
    margin-top: -5px;
}

#login-wrapper .brand {
    text-align: center;
    padding: 10px 0;
}

#login-wrapper .form-group i {
    position: absolute;
    left: 27px;
    top: 11px;
}

#login-wrapper #txtUsuario,
#login-wrapper #txtContrasena {
    padding-left: 36px;
}

#login-wrapper #locked-screen .profile-pic {
    margin: 15px 0;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #003366;
    border-color: #003366;
}

/* TEMA INTRANET */

.theme-default #header {
    background: #E8E8E8;
}

.theme-default #header .logo,
.theme-default #header button.sidebar-toggle,
.theme-default #header button#toggle-profile,
.theme-default #header button#toggle-fullscreen,
.theme-default #header .nav li.profile>a {
    color: #003366;
}

.theme-default #header button.sidebar-toggle:hover,
.theme-default #header button.sidebar-toggle:active,
.theme-default #header button#toggle-profile:hover,
.theme-default #header button#toggle-profile:active,
.theme-default #header button#toggle-fullscreen:hover,
.theme-default #header button#toggle-fullscreen:active {
    background: #f5f5f5;
}

.theme-default #header .nav li.profile>a:hover,
.theme-default #header .nav li.profile>a:active,
.theme-default #header .nav li.profile>a:focus {
    background: #f5f5f5;
}

.theme-default .sidebar-left {
    background-color: #003366;
}

.theme-default .sidebar-mini .sidebar-left .nav>li.active>a:focus,
.theme-default .sidebar-mini .sidebar-left .nav>li.active>a:hover,
.theme-default .sidebar-left .nav>li.active>a,
.theme-default .sidebar-left .nav>li.active>a:focus,
.theme-default .sidebar-left .nav>li.active>a:hover {
    color: #003366;
    background-color: #E8E8E8;
}

.theme-default .sidebar-left .nav>li.open>a,
.theme-default .sidebar-left .nav>li>a:hover {
    color: #1d2939;
    background-color: #ffffff;
}

.theme-default.sidebar-mini .sidebar-left .nav>li.nav-dropdown-open>.nav-sub,
.theme-default.sidebar-mini .sidebar-left .nav>li:hover>.nav-sub {
    background-color: #003366;
}

.theme-default .sidebar-profile {
    background: #002D5B;
}

.theme-default.sidebar-mini .sidebar-left .nav>li.active>a,
.theme-default.sidebar-mini .sidebar-left .nav>li.active>a:focus,
.theme-default.sidebar-mini .sidebar-left .nav>li.active>a:hover,
.theme-default .sidebar-left .nav>li.active>a,
.theme-default .sidebar-left .nav>li.active>a:focus,
.theme-default .sidebar-left .nav>li.active>a:hover {
    color: #003366;
    background-color: #E8E8E8;
}

.theme-default.sidebar-mini .sidebar-left .nav>li.nav-dropdown-open>a,
.theme-default.sidebar-mini .sidebar-left .nav>li:hover>a {
    color: #1d2939;
    background-color: #fff;
}

/* BOTON PRIMARIO */

/*
COLOR ALTO:   #003366;
COLOR MEDIO:  #1D4166;
*/

.btn-primary {
    background-color: #003366;
}

.btn-primary,
a.btn-primary:link,
a.btn-primary:visited {
    color: #fff;
    background-color: #003366;
}

a.btn-primary:hover,
a.btn-primary:active {
    color: #ffffff;
    background-color: #1D4166;
    border-color: #1D4166;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #1D4166;
    border-color: #1D4166;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #003366;
    border-color: #003366;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #003366;
    border-color: #003366;
}

/* Nuevo login 2017 */

.login-empresa {
    background: rgba(255, 255, 255, 0.5);
}

.login .borde-superior {
    background: rgba(14, 49, 107, 1);
}

.login .borde-interior {
    background: rgba(254, 10, 31, 1);
}

.login #frmLogin .form-group .campo .input-text {
    color: rgba(14, 49, 107, 1);
    border-bottom-color: rgba(14, 49, 107, 0.7);
    -webkit-box-shadow: 0px 3px 2px -2px rgba(14, 49, 107, 0.5);
    -moz-box-shadow: 0px 3px 2px -2px rgba(14, 49, 107, 0.5);
    box-shadow: 0px 3px 2px -2px rgba(14, 49, 107, 0.5);
}

.login #frmLogin .form-group .campo .input-text::-webkit-input-placeholder {
    color: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group .campo .input-text::-moz-placeholder {
    color: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group .campo .input-text::-ms-placeholder {
    color: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group .campo .input-text::-placeholder {
    color: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group .campo .input-text-line {
    background: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group .campo label.fa {
    color: rgba(14, 49, 107, 1);
}

.login #frmLogin .form-group button[type="submit"] {
    background: rgba(254, 10, 31, 1);
    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 3px 3px 3px -1px rgba(254, 10, 31, 0.75);
    -moz-box-shadow: 3px 3px 3px -1px rgba(254, 10, 31, 0.75);
    box-shadow: 3px 3px 3px -1px rgba(254, 10, 31, 0.75);
}