.contenedor{margin:60px auto;width:960px;font-family:sans-serif;font-size:15px}
table {width:100%;box-shadow:0 0 10px #ddd;text-align:left}
th {padding:1px;background:#555;color:#fff}
td {padding:1px;border:solid #ddd;border-width:0 0 1px;}
.editable span{display:block;}
.editable span:hover {background:url(edit.png) 90% 50% no-repeat;cursor:pointer}	
td input{height:24px;width:20px;border:1px solid #ddd;padding:0 5px;margin:0;border-radius:6px;vertical-align:middle}
a.enlace{display:inline-block;width:24px;height:24px;margin:0 0 0 5px;overflow:hidden;text-indent:-999em;vertical-align:middle}
.guardar{background:url(images/save.png) 0 0 no-repeat}
.cancelar{background:url(images/cancel.png) 0 0 no-repeat}	
.mensaje{display:block;text-align:center;margin:0 0 20px 0}
.ok{display:block;padding:10px;text-align:center;background:green;color:#fff}
.ko{display:block;padding:10px;text-align:center;background:red;color:#fff}
	